
* {
    box-sizing: border-box;
  }

:root{
    background-color: #feff99;
    font-family: 'Courier New', Courier, monospace ;
    max-width: 75vw;
    margin: auto;
    cursor: pointer;
    
}

.image-header{
    margin-top: 3%;
    margin-bottom: 7%;

}

.header{
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.main{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
    margin-bottom: 70px;
    
    
}

.container-1{
    
    
    max-width: 30vw;
    max-height: 60vh;
    display: grid;
    grid-template-columns:repeat(4 , 80px) ;
    grid-template-rows: repeat(5 , 80px);
    align-content: center;
    justify-content: center;
    background-color: #98cbc2 ;
    border: 20px #98cbc2 solid;
     
    
}

.container-2{
    
    max-width: 30vw;
    max-height: 60vh;
    display: grid;
    grid-template-columns:repeat(4 , 80px) ;
    grid-template-rows: repeat(5 , 80px);
    align-content: center;
    justify-content: center;
    background-color: #98cbc2 ;
    border: 20px #98cbc2 solid;


}

.bingo-word{
    color: #ffffff;
    text-align: center;
    grid-column: span 4;
    text-align: center;
    margin-bottom: 15px;
    border-bottom:4px #fff solid;
    
}

.bingo-word h1{
    margin: 25px;
    font-size: 35px;
}


button{
    font-size: 25px;
    border-radius: 100%;
    border:none;
    margin: 3px;
    position: relative;
    font-family: "Lucida Console", "Courier New", monospace;
    color:#46458a;
    text-transform: initial;
    


}

.control-table{
    width: 10vw;
    margin: 5%;
    justify-content: center;
    height: 55vh;
    display: grid;
    grid-template-columns:repeat(1 , auto) ;
    grid-template-rows: repeat(3 , auto);
    align-content: center;
    grid-gap: 10px;
    
    
}

.item-start{
    width: 15vw;
    max-width: 30vw;
    max-height: 60vh;
    border-radius: 10px;
    background-color:#e72619;
    color: #fff;
    
}
.item-restart{
    width: 15vw;
    border-radius: 10px;
    background-color:#eb9a22;
    color: #fff;
    
}

.item-winer{
    width: 15vw;
    border-radius: 10px;
    background-color:#8e8e8e79 ;
    color: #fff;
    
}

.text-shape h3{
    font-size: 25px;
    text-align: center;
    
}

.game-rule{
    background-color:#fff ;
    border: 1px white solid;
    padding: 20px;
    margin-bottom: 35px;

}
#copyright-text{
    text-align: center;
}
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

#myAudio{
display:none
}
